body {
    font-family:'Helvetica', monospace
}

.navbar {
    background-color: #1F2937;
    color: white;
    display: flex;
    height: 150px;
    align-items: center;
    padding: 0 300px;
    justify-content: flex-end;
}

.navbar .logo {
    flex-grow: 9;
    font-style: 24px;
    font-weight: 600;
}

.navbar .link {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #E5E7EB
}

.intro {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 300px;
}

.intro h1 {
    min-width: 0;
}

.intro h2 {
    font-size: 18px;
    color: #E5E7EB
}

.intro .textbox {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
}

.intro .textbox .bigger-text {
    font-size: 80px;
    font-weight: 900;
}

.intro .textbox .smaller-text {
    font-size: 18px;
    color: #E5E7EB
}

.intro .textbox button {
    background-color: #3882F6;
    font-size: 30px;
    border-radius: 40px;
    color: white;
    padding: 0 50px;
    height: 60px;
    border: 2px solid #3882F6;
}


.intro .imgholder {
    flex: 4;
}

.intro .imgholder img {
    max-width: 100%;
}

.vouch {
    padding: 120px 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.vouch .vouch-text {
    font-size: 50px;
    align-self: center;
    font-weight: 1000;
}

.vouch .vouch-flex{
    display: flex;
    justify-content: space-evenly;
}

.vouch .vouch-flex .vouch-img {
    height: 240px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vouch .vouch-flex .vouch-img img{
    max-width: 90%;
}

.vouch .vouch-flex .last-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.vouch .vouch-flex .last-flexbox .vouch-subtxt {
    max-width: 200px;
    font-size: 18px;
    color: #95979B
}

.quote {
    padding: 120px 300px;
    background-color: #E5E6E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote .large-txt {
    font-size: 36px;
    font-family: 'light italic';
}

.quote .small-txt {
    color: #1F2937;
    font-size: 20px;
    align-self: flex-end;
}

.sign-up {
    background-color: white;
    padding: 120px 300px;
    display: flex;
    justify-content: center;
}

.sign-up .container {
    width: 1200px;
    height: 200px;
    border-radius: 25px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign-up .container button {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 1000;
    width: 160px;
    height: 40px;
}

.sign-up .container .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.sign-up .container .text-container .large-txt {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.sign-up .container .text-container .small-txt {
    color: #E5E7EB;
    font-size: 20px;
}

.copyright {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 50px 300px;
    font-size: 20px;
}