body {
    font-family:'Helvetica', monospace
}

.navbar {
    background-color: #1F2937;
    color: white;
    display: flex;
    height: 150px;
    align-items: center;
    padding: 0 300px;
    justify-content: flex-end;
}

.navbar .logo {
    flex-grow: 9;
    font-style: 24px;
    font-weight: 600;
}

.navbar .link {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #E5E7EB
}

.intro {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 300px;
}

.intro h1 {
    min-width: 0;
}

.intro h2 {
    font-size: 18px;
    color: #E5E7EB
}

.intro .textbox {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
}

.intro .textbox .bigger-text {
    font-size: 80px;
    font-weight: 900;
}

.intro .textbox .smaller-text {
    font-size: 18px;
    color: #E5E7EB
}

.intro .textbox button {
    background-color: #3882F6;
    font-size: 30px;
    border-radius: 40px;
    color: white;
    padding: 0 50px;
    height: 60px;
}


.intro .imgholder {
    flex: 4;
}

.intro .imgholder img {
    max-width: 100%;
}

.vouch {
    padding: 50px 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.vouch .vouch-text {
    font-size: 50px;
    align-self: center;
    font-weight: 1000;
}

.vouch .vouch-flex{
    display: flex;
    justify-content: space-evenly;
}

.vouch .vouch-flex .vouch-img {
    height: 240px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 15%;
    display: block;
}

.vouch .vouch-flex .last-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.vouch .vouch-flex .last-flexbox .vouch-subtxt {
    max-width: 200px;
    font-size: 18px;
    color: #95979B
}